<div class="card" style="width: 24rem; margin-top: 10px; margin-bottom: 10px; background-color: slategrey;">
  <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/hotel-and-restaurant-1-8/50/20-512.png" alt="Card image cap">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-weight: bold; text-align: center; background-color: lightgray">ADDRESS</li>
    <li class="list-group-item" style="font-weight: bold">Street: {{atm.address.street}}</li>
    <li class="list-group-item" style="font-weight: bold">House Number: {{atm.address.housenumber}}</li>
    <li class="list-group-item" style="font-weight: bold">Postal Code: {{atm.address.postalcode}}</li>
    <li class="list-group-item" style="font-weight: bold">City: {{atm.address.city}}</li>
    <li class="list-group-item" style="font-weight: bold; text-align: center; background-color: lightgray">GEOLOCATION </li>
    <li class="list-group-item" style="font-weight: bold">Latitude: {{atm.address.geoLocation.lat}}</li>
    <li class="list-group-item" style="font-weight: bold">Longitude: {{atm.address.geoLocation.lng}}</li>
  </ul>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-weight: bold">DISTANCE: {{atm.distance}}</li>
  </ul>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-weight: bold">TYPE: {{atm.type}}</li>
  </ul>

  <div class="card-body">
  </div>
</div>


