<div class="card">
  <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/hotel-and-restaurant-1-8/50/20-512.png" alt="Card image cap">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center; background-color: lightgray">ADDRESS</li>
    <li class="list-group-item">Street: {{atm.address.street}}</li>
    <li class="list-group-item">House Number: {{atm.address.housenumber}}</li>
    <li class="list-group-item">Postal Code: {{atm.address.postalcode}}</li>
    <li class="list-group-item">City: {{atm.address.city}}</li>
    <li class="list-group-item" style="text-align: center; background-color: lightgray">GEOLOCATION </li>
    <li class="list-group-item">Latitude: {{atm.address.geoLocation.lat}}</li>
    <li class="list-group-item">Longitude: {{atm.address.geoLocation.lng}}</li>
  </ul>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">DISTANCE: {{atm.distance}}</li>
  </ul>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">TYPE: {{atm.type}}</li>
  </ul>

  <div class="card-body">
  </div>
</div>


