.btn {
  background-color: #B22222;
  color: whitesmoke;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.col-md-10 {
  justify-content: flex-end;
  display: flex;
}
