.col-md-4 {
  background-color: lightslategrey;
  display: flex;
  justify-content: center;
}

.col-md-8 {
  background-color: #efff82;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.labels {
  margin-left: 20px;
  font-size: 15px;
}
