<app-header></app-header>
<div class="row" style="height: 100%">
  <div class="col-md-4">
    <form [formGroup]="formGroup" (ngSubmit)="getAtms()">
      <h2 class="text-center">ATM search</h2>

      <div class="form-group">
        <input formControlName="q" type="text" placeholder="">
      </div>

      <div class="form-check">
        <input formControlName="street" type="checkbox" class="form-check-input" name="street">
        <label class="labels">Street</label>
      </div>

      <div class="form-check">
        <input formControlName="housenumber" type="checkbox" class="form-check-input" name="house number">
        <label class="labels">House number</label>
      </div>

      <div class="form-check">
        <input formControlName="postalcode" type="checkbox" class="form-check-input" name="postal code">
        <label class="labels">Postal code</label>
      </div>

      <div class="form-check">
        <input formControlName="city" type="checkbox" class="form-check-input" name="city">
        <label class="labels">City</label>
      </div>

      <div class="form-check">
        <input formControlName="lat" type="checkbox" class="form-check-input" name="lat">
        <label class="labels">Latitude</label>
      </div>

      <div class="form-check">
        <input formControlName="lng" type="checkbox" class="form-check-input" name="lng">
        <label class="labels">Longitude</label>
      </div>

      <div class="form-check">
        <input formControlName="distance" type="checkbox" class="form-check-input" name="distance">
        <label class="labels">Distance</label>
      </div>

      <div class="form-check">
        <input formControlName="type" type="checkbox" class="form-check-input" name="type">
        <label class="labels">Type</label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Search</button>
      </div>

    </form>
  </div>
  <div class="col-md-8">
    <app-atm-info *ngFor="let atm of atmList" [atm]="atm"></app-atm-info>
  </div>
</div>
